.about-us-container {
	width: 800px;
	text-align: justify;
	color: white;
}

.about-us-description {
	color: #dbd6d6;
	font-weight: bold;
	font-size: 25px;
	margin-bottom: 30px;
	text-align: center;
}

.about-us-content {
	margin-bottom: 20px;
	font-size: 25px;
}

.plant_logo_right {
	text-align: right;
}

.plant_logo_left {
	text-align: left;
}

@media screen and (max-width: 996px) {
	.aboutus_container {
		flex-wrap: wrap;
	}
}
