.about-us-container {
	width: 50%;
	text-align: justify;
	color: white;
}

.about-us-description {
	color: #dbd6d6;
	font-weight: bold;
	font-size: 1.5rem;
	margin-bottom: 30px;
	text-align: center;
}

.about-us-content {
	margin-bottom: 20px;
	font-size: 1.5rem;
	color: antiquewhite;
}

.plant_logo_right {
	text-align: right;
}

.plant_logo_left {
	text-align: left;
}

@media screen and (max-width: 1024px) {
	.about-us-description,
	.about-us-content {
		font-size: 1.25rem;
	}
}

@media screen and (max-width: 768px) {
	.about-us-container {
		display: none;
	}
}
